.name-tag--a4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 2.8mm;

  max-width: 219.9mm;
  /*width: 219.9mm;*/
  height: 266.6mm;

  /*padding: 1.5cm 0;*/
  padding: 1.29cm 7.2mm 1.4cm 7.2mm;
  /*border: solid 1px red;*/
  /*margin: -1px;*/
  overflow: hidden;

  page-break-after: always;
}

/*.name-tag--a4:nth-child(even) {*/
  /*background-color: cornflowerblue;*/
/*}*/

.name-tag--wrapper {
  display: inline-flex;

  /*width: 63.5mm;*/
  /*height: 29.6mm;*/

  margin: 0;
  padding: 2mm;

  justify-content: center;
  flex-direction: column;
  vertical-align: center;
  text-align: center;

  font-family: capsuula, sans-serif;
  font-size: 0.4cm;
  color: rgb(8, 110, 131);

  background: url("./Namensetiketten_klebend_29,6x62,5mm_blanko.svg") no-repeat center center;
  /*background-size: 98.5%;*/
  background-size: cover;

  border: solid #000 1px;
}
/*.name-tag--wrapper:nth-child(6n+3),*/
/*.name-tag--wrapper:nth-child(6n+1),*/
/*.name-tag--wrapper:nth-child(6n+2) {*/
    /*border: solid #aaa 1px;*/
/*}*/

.name-tag--both-sides {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url("../Namensschilder_Tisch_59,2x63,5mm_A-Falt.svg") no-repeat center center;
  background: url("../Namensschilder_Tisch_59,2x63,5mm_A-Falt_blanko.svg") no-repeat 2px center;
  background-size: 98.5%;
}

.name-tag--wrapper .bigger {
  padding-top: 1mm;
  /*padding-bottom: 0.5mm;*/
  font-size: 1cm;
  line-height: 1.1cm;
  /*line-height: 0.98cm;*/
  /*font-weight: bold;*/
}

.name-tag--wrapper .menu {
  /*font-size: 0.6cm;*/
  margin-top: 0.2cm;
  color: #D09A37;
}

.name-tag--horizontal-cut-indicator {
  width: 1px;
  /*height: 8cm;*/
  border-top: 0.5cm solid #e0e0e0;
  border-bottom: 0.5cm solid #e0e0e0;
  margin-left: -1px;
}

.clown-hat {
  width: 8mm;
  vertical-align: top;
}

/*.clown-hat::after {*/
/*content: " ";*/
/*background: url("./Namensschilder_Tisch_59,2x63,5mm_A-Falt.svg") no-repeat center center;*/
/*background-size: contain;*/
/*width: 10mm;*/
/*vertical-align: top;*/
/*}*/
