@font-face {
  font-family: capsuula;
  src: url(Capsuula.ttf);
}

@font-face {
  font-family: foxinsnow;
  src: url('fox in the snow.ttf');
}

:root {
  --orange: #D09A37;
  --teal: #086e83;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.horizontal-cut-line {
  display: inline-block;

  height: 8cm;
  width: 1px;

  margin-right: -1px;
  border-top: 0.5cm solid grey;
  border-bottom: 0.5cm solid grey;
}
