.name-plate--wrapper {
  display: inline-flex;

  width: 65.1mm;
  height: 60.7mm;

  margin: -1px 0 0 0;
  padding: 0;
}

.name-plate--both-sides {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url("./Namensschilder_Tisch_59,2x63,5mm_A-Falt.svg") no-repeat center center;
  background: url("./Namensschilder_Tisch_59,2x63,5mm_A-Falt_blanko.svg") no-repeat 2px center;
  background-size: 98.5%;
}

.name-plate--bend-line {
  height: 1px;
  border-left: 0.5cm solid #e0e0e0;
  border-right: 0.5cm solid #e0e0e0;
}

.name-plate--one-side {
  display: flex;
  flex: 1;

  justify-content: center;
  flex-direction: column;
  vertical-align: center;
  text-align: center;
  font-family: capsuula, sans-serif;
  font-size: 0.4cm;
  color: rgb(8, 110, 131);
}

.name-plate--one-side.top {
  border-top: 1px solid #e0e0e0;
}

.name-plate--one-side.bottom {
  border-bottom: 1px solid #e0e0e0;
}

.name-plate--one-side .bigger {
  padding-top: 1mm;
  padding-bottom: 0.5mm;
  font-size: 1cm;
  line-height: 1.1cm;
  /*line-height: 0.98cm;*/
  font-weight: bold;
}

.name-plate--one-side .menu {
  font-size: 0.6cm;
  margin-top: 0.2cm;
  color: #D09A37;
}

.name-plate--horizontal-cut-indicator {
  width: 1px;
  /*height: 8cm;*/
  border-top: 0.5cm solid #e0e0e0;
  border-bottom: 0.5cm solid #e0e0e0;
  margin-left: -1px;
}

.clown-hat {
  width: 8mm;
  vertical-align: top;
}
/*.clown-hat::after {*/
  /*content: " ";*/
  /*background: url("./Namensschilder_Tisch_59,2x63,5mm_A-Falt.svg") no-repeat center center;*/
  /*background-size: contain;*/
  /*width: 10mm;*/
  /*vertical-align: top;*/
/*}*/


.deserts .bigger {
  font-size: 8mm;
    color: var(--teal);
}

.deserts span {
  color: var(--orange);
  font-size: 5mm;
}
